@use 'config' as *;

// BEM
@mixin b($block) {
  $B: $block !global;

  @if $namespace != '' {
    $B: $namespace + $common-separator + $B;

    $selector: '.' + $B;

    #{$selector} {
      @content;
    }
  } @else {
    $selector: '.' + $B;

    #{$selector} {
      @content;
    }
  }
}

@mixin e($element) {
  $E: $element !global;
  $selector: & + $element-separator + $E;

  @at-root #{$selector} {
    @content;
  }
}

@mixin m($modifier) {
  $M: $modifier !global;
  $selector: & + $modifier-separator + $M;

  @at-root #{$selector} {
    @content;
  }
}

@mixin when($state) {
  @at-root &.#{$state-prefix + $state} {
    @content;
  }
}
