@use 'config' as *;

// BEM
@mixin b($block) {
  $B: $namespace + $common-separator + $block !global;
  $selector: '.' + $B;

  #{$selector} {
    @content;
  }
}

@mixin e($element) {
  $E: $element !global;
  $selector: & + $element-separator + $E;

  @at-root #{$selector} {
    @content;
  }
}

@mixin m($modifier) {
  $M: $modifier !global;
  $selector: & + $modifier-separator + $M;

  @at-root #{$selector} {
    @content;
  }
}

@mixin when($state) {
  @at-root &.#{$state-prefix + $state} {
    @content;
  }
}
